<%= form_with(model: upload) do |form| %>
  <% if upload.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :attachment, style: "display: block" %>
    <%= form.file_field :attachment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
